.Dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 30px;
  padding: 50px;
}
ul { list-style: none; }
.card {
  padding: 15px;
  border-radius: 12px;
  background: #fffefe;
  text-align: center;
  color:black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card h3 {
  font-size: 16px;          
  margin: 10px 0;
  color: #222;            
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00ffff,
              0 0 20px #00ffff,
              0 0 40px #00ffff;
}